#Wrapper{
    display: grid;
    height:100%;
    width: 100%;
    place-items: center;
}
.wrapper .button{
    display:inline-block;
    height: 45px;
    width: 45px;
    float: left;
    margin: 0 5px;
    background: rgb(255, 255, 255);
    border-radius: 45px;
    cursor: pointer;
    box-shadow:0 10px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: all 0.3s ease-out;
}
.wrapper .button .icon{
    display:inline-block;
    height: 45px;
    width: 45px;
    border-radius: 45px;
    box-sizing: border-box;
    line-height: 55px;
    transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
    background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
    background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
    background: #333;
}
.wrapper .button:nth-child(4):hover .icon{
    background: #E1306C;
}
/* For labels */
.wrapper .button:hover span{
    line-height: 100%;
}
.wrapper .button:nth-child(1):hover span{
    color: #4267B2;
}
.wrapper .button:nth-child(2):hover span{
    color: #1DA1F2;
}
.wrapper .button:nth-child(3):hover span{
    color: #333;
}
.wrapper .button:nth-child(4):hover span{
    color: #E1306C;
}
.wrapper .button .icon i{
    font-size: 20px;
    margin-left: 13px;
    transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
    color: white;
}
.wrapper .button .icon .extra_margin{
    margin-left: 10px;
}
.wrapper .button  span{
    font-size: 15px;
    font-weight: 700;
}
.wrapper .button:hover{
    width: 170px;
    background: rgb(255, 255, 255);
}
.wrapper .button:hover span{
    margin-left: 10%;
}
